.bttn {
  border: var(--border);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &:hover {
    cursor: pointer;
  }

  &.bttn--larger {
    width: 100%;
    height: 22%;
  }

  &.bttn--middle {
    width: 3.8%;
    height: 7.8%;
  }
  
  &.bttn--small {
    width: 45%;
    height: 10%;
  }

  &.bttn--little {
    height: 4.2%;
    width: 30%;
  }

  &.bttn__help {    
    margin-top: 0.3%;
    margin-left: 0.4%;

    background-image: url('./icons/T_Help_Off.PNG');
  
    &:hover, &.active {
      transition: 0.5s;
    
      background-image: url('./icons/T_Help_On.PNG');
    }
  }

  &.bttn__avatar {
    background-size: 150% 140%;
    border: 2.5px solid var(--primary-color);
  }

  &.bttn__map {
    background-image: url('./icons/T_Map_Off.PNG');
  
    &:hover, &.active {
      transition: 0.5s;
    
      border-color: #a2c037;
      background-image: url('./icons/T_Map_On.PNG');
    }
  }

  &.bttn__schedule {
    background-image: url('./icons/T_Diary_Off.PNG');
  
    &:hover, &.active {
      transition: 0.5s;
    
      background-image: url('./icons/T_Diary_On.PNG');
    }
  }

  &.bttn__controlls {
    background-image: url('./icons/T_Control_Off.PNG');
  
    &:hover, &.active {
      transition: 0.5s;
    
      background-image: url('./icons/T_Control_On.PNG');
    }
  }

  &.bttn__sound {
    background-image: url('./icons/T_Speaker_On.PNG');

    &:hover, &.active {
      transition: 0.5s;
      border-color: #c20e1a;
    
      background-image: url('./icons/T_Speaker_Off.PNG');
    }
  }

  &.bttn__logout {
    background-image: url('./icons/T_Exit_Off.PNG');

    &:hover, &.active {
      transition: 0.5s;
    
      background-image: url('./icons/T_Exit_On.PNG');
    }
  }

  &.bttn__chat {
    background-image: url('./icons/T_ChatIcon_Off.PNG');

    margin-bottom: 7%;
    margin-right: 7%;

    &:hover {
      transition: 0.5s;
    
      background-image: url(./icons/T_ChatIcon_On.PNG);
    }
  }
}

.hud-container {
  justify-content: space-between;
  
  height: 100%;
  width: 100%;

  &.hud-container--left {
    gap: 10px;
    width: 6%;
    align-items: end;
  }
  
  &.hud-container--top {
    width: 100%;
    height: 54%;

    margin-top: 7%;
    margin-right: 7%;

    align-items: end;
  }
}

.chat {
  border: var(--border);

  &.chat__container {
    position: absolute;
    bottom: 2.3%;
    right: 1%;
  
    width: 31.3%; 
    height: 30.8%;
  
    background: #ffffffd9;
  }

  &.chat__screen {
    gap: 5px;

    width: 100%;
    height: 70%;

    margin-top: 40px;

    overflow-y: auto;

    border: none;

    &::-webkit-scrollbar {
      width: 8px;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: var(--primary-color);
    }
  
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }

  &.chat__message {
    margin: 0px;
    margin-left: 10px;

    display: flex;

    border: none;

    & p {
      margin: 0px;
    }

    &.chat__message--user {
      color: blue;
      font-weight: bold;
    }
  }

  &.chat__title {
    margin: 0px;

    justify-content: center;

    padding-top: 1.2%;
    padding-bottom: 1.2%;

    background: white;

    width: 97%;

    position: absolute;
    left: 1.5%;
    top: 2.5%;

    font-weight: bold;
    font-family: sans-serif;
    font-size: 80%;
  }

  &.chat__input {
    width: 90%;
    position: absolute;
    bottom: 2%;
    left: 1%;
    padding-left: 1%;
    height: 10%;
    background: white;
    
    border: none;
  }

  &.chat__bttn-close {
    position: absolute;
    bottom: -4%;
    right: -2%;
    
    width: 8.3%;
    height: 18%;
    
    background-image: url('./icons/T_ChatIcon_On.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    border-color:transparent;
  }
}

.schedule {
  &.schedule__back-plate {
    width: 29.5%;
    height: 30%;

    position: absolute;
  }

  &.schedule__container {
    width: 90%;
    height: 100%;

    background: white;
  }

  &.schedule__bttn-close {
    width: 25px;
    position: absolute;
    border-top-right-radius: 2%;
  }

  &.schedule__header {
    background-color: var(--primary-color);

    padding-left: 25px;
    padding-top: 14.5px;
    padding-bottom: 13.5px;

    margin: 0px;
    margin-bottom: 8px;

    color: white;
    font-weight: bold;

    position: absolute;

    width: 95.5%;
  }

  &.schedule__row {
    width: 100%;

    gap: 5px;

    &.grey {
      background-color: whitesmoke;
    }

    & p {
      margin: 0px;
    }

    & div {
      padding: 5px;
    }

    &.row__infos {
      justify-content: space-between;
      width: 95%;
    }

    &.row__time {
      text-align: right;
    }

    &.row__wrapper {
      margin-top: 8.5%;
      padding-top: 7px;

      color: #6b6b6b;

      overflow-x: hidden;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
      }
      
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
    }
  }
}

.controlls {
  &.controlls__back-plate {
    position: absolute;
    top: 30.3%;
    right: 3%;
  
    width: 550px;
  }

  &.controlls__display {
    padding: 10px;
  }

  &.controlls__header {
    background: var(--primary-color);
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
  
    margin: 0px;
  
    color: white;
  
    font-family: sans-serif;
    font-weight: bold;
  }

  &.controlls__container {
    background: white;

    width: 90%;

    &.container--side {
      width: 60%;
      
      gap: 5px;
      
      &.container--left {
        width: 90%;
      }
    }

    &.container__layout {
      border: none;

      align-items: center;
      gap: 5px;
    
      & p {
        margin: 0px;
      }
    }
  }

  &.controlls__arrow {
    background-image: url('./icons/arrow.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  
    transform: rotate(180deg);
  
    width: 20px;
    height: 20px;
  }

  &.controlls__buttons {
    border: 2px solid #6b6b6b;
    border-radius: 5px;
    
    width: 40px;
    height: 40px;
  
    justify-content: center;
    align-items: center;
  
    font-family: sans-serif;

    &.buttons--jump {
      text-transform: uppercase;
      width: 200px;
    }
  }
  
}

.rpm  {
  &.rpm__container {
    justify-content: center;
    align-items: center;
  
    width: 80%;
    height: 80%;
  
    border: var(--border);
  
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.rpm__close {
    position: absolute;
    top: -15px;
    right: -15px;
    background: white;
    width: 2.5%;
    height: 4.5%;
    border: 2px solid red;
    color: red;
    font-size: 100%;
    font-weight: bold;

    &:hover {
      color: white;
      background: red;
      transition: 0.5s;
    }
  }

  &.rpm__iframe {
    width: 100%;
    height: 100%;
  
    border: none;
  }
}

.quit {
  &.quit__container {
    position: absolute;

    bottom: 1.5%;
    left: 50%;
    transform: translateX(-50%);

    background: white;

    font-family: sans-serif;

    width: 19.8%;
    height: 17.2%;

    display: flex;
    justify-content: center;
    align-items: center;

    border:2px solid var(--primary-color);
  }

  &.quit__content {
    padding-left: 20px;
    padding-right: 20px;

    align-items: center;
    gap: 10px;  

    & p {
      margin: 0px;
    }

    &.content__header {
      font-weight: bold;
      color: #6b6b6b;
    }

    &.content__text {
      color: #6b6b6b;
    }

    &.content__wrapper-bttn {
      align-items: center;
      gap: 5px;

      &.wrapper-bttn__bttn {
        background: url(./icons/T_Exit_Off.PNG);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      
        width: 50px;
        height: 50px;
      
        border: 2px solid transparent;

        &:hover {
          transition: 0.5s;

          background-image: url(./icons/T_Exit_On.PNG);
        }
      }

      &.wrapper-bttn__label {
        color: #6b6b6b;
      }
    }
  }

  .quit__close-bttn {
    position: absolute;
    top: -10px;
    right: -10px;
    
    background: white;
  
    height: 20%;
    
    border: 2px solid red;
    
    color: red;
    font-weight: bold;
  
    &:hover {
      transition: 0.5s;
      
      background: red;
      
      color: white;
      font-weight: bold;
    }
  }  
}

.run-controll {
  width: 100px;
}

.not-found-text {
  position: absolute;
  top: 35%;
  left: 0%;
  transform: translate(30%, 50%);
  
  font-size: 20px;

  color: #6b6b6b;

  text-align: center;
}

.lds-roller {
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 35%;
  transform: translate(50%, 50%);
  
  width: 80px;
  height: 80px;

  & div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;

    &:after {
      content: " ";
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: var(--primary-color);
      margin: -4px 0 0 -4px;
    }

    &:nth-child(1) {
      animation-delay: -0.036s;

      &:after {
        top: 63px;
        left: 63px;
      }
    }

    &:nth-child(2) {
      animation-delay: -0.072s;

      &:after {
        top: 68px;
        left: 56px;
      }
    }

    &:nth-child(3) {
      animation-delay: -0.108s;

      &:after {
        top: 71px;
        left: 48px;
      }
    }

    &:nth-child(4) {
      animation-delay: -0.144s;

      &:after {
        top: 72px;
        left: 40px;
      }
    }

    &:nth-child(5) {
      animation-delay: -0.18s;

      &:after {
        top: 71px;
        left: 32px;
      }  
    }

    &:nth-child(6) {
      animation-delay: -0.216s;

      &:after {
        top: 68px;
        left: 24px;
      }
    }

    &:nth-child(7) {
      animation-delay: -0.252s;

      &:after {
        top: 63px;
        left: 17px;
      }
    }

    &:nth-child(8) {
      animation-delay: -0.288s;

      &:after {
        top: 56px;
        left: 12px;
      }
    }
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.event-name-text {
  font-weight: bold;
}

/* Start Hud Section */